@import "tailwindcss";

@theme {
  --color-brand-navy: #0F172A;
  --color-brand-slate: #334155;
  --color-brand-lightGray: #F8FAFC;
  --color-brand-accent: #0EA5E9;
  --color-brand-primaryBlue: #E0F2FE;
  --color-brand-deepNavy: #0F172A;

  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
